<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ElChenChen Vuelve</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link href="~/css/style.css" rel="stylesheet" />
	<link href="~/css/stylefile.css" rel="stylesheet" />
	<link href="~/css/filecom.css" rel="stylesheet" />
	<link href="~/css/stylereport.css" rel="stylesheet" />

</head>
<body class="bg-light"  style="height: 100vh; margin: 0;">
     
     <div id="viewport">
        <aside id="sidebar">
            <header class="sidebar text-center py-3">
                <img src="~/img/logo.png" width="180" height="45" alt="Logo" />
            </header>
            <ul class="nav flex-column">
                <li class="nav-item"> 
                    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#solicitudesSubmenu" role="button" aria-expanded="false">
                        <i class="zmdi zmdi-view-dashboard"></i> Solicitudes
                    </a>
                    <div class="collapse" id="solicitudesSubmenu">
                        <ul class="nav flex-column ps-3">
                            <li class="nav-item">
                                <a class="nav-link" href="../Process/Index">Pendientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Process/Create">Competadas</a>
                            </li> 
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Reportes/Reporte"><i class="zmdi zmdi-link"></i> Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="zmdi zmdi-widgets"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="zmdi zmdi-calendar"></i> Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="zmdi zmdi-info-outline"></i> About</a>
                </li>
            </ul>
        </aside>
         
        <div id="content">
             
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-2">
                       
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <span>Hola, @Context.Session.GetString("UserName")</span>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-primary">Cerrar Sesión</button>
                        </form>
                    </div>
                </div>
            </nav> 
             
            <div class="main-content">
                <main role="main">
                    @RenderBody()
                </main>
            </div>

        </div> 
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
